<body>
      <h1>
            <!-- <h2>
                  <a (click)="scroll('about')">
                        About Me
                        <span></span>
                  </a>
                  <a (click)="scroll('proficiencies')">
                        Proficiencies
                        <span></span>
                  </a>
                  <a (click)="scroll('projects')">
                        Portfolio
                        <span></span>
                  </a>
            </h2> -->
            <h3>
                  <div>Made <span>in Angular 4</span> with love.<br/></div>
                  &copy; Anthony Krivonos 2017
            </h3>
      </h1>
</body>
